.todolist {
  background: #dee0e0;
  width: 70vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: ; */
  padding: 20px;
  font-size: 24pt;
}

.todolist__header {
  color: rgba(128, 0, 0, 0.7);
  font-size: 40pt;
  position: relative;
}

.todolist__content {
  background: antiquewhite;
  
}

.content_textarea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content_textarea img {
  height: 100%;

}

.todolist__content textarea {
  font-style: oblique;
  flex: 1;
  font-size: 24pt;
  border: none;
  outline: none;
  resize: none;
  background: antiquewhite;
 
}

.todolist__bottom {
  padding: 0 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.bottom__leftitems {
  display: inherit;
  flex: 1;
}

.bottom__leftitems_count {
  font-weight: 500;
}

.bottom__groups {
  display: inherit;
  justify-content: space-evenly;
  flex: 1;
}

.groups__item {
  cursor: pointer;
  text-align: center;
  padding: 5px;
}

.groups__item:hover {
  color: rgb(128, 139, 150);
}

.bottom__clear {
  flex: 1;
  text-align: right;
  cursor: pointer;
}

.bottom__clear:hover {
  color: rgb(128, 139, 150);
}
